[versions]
Pillow = 1.7.8
Products.DocFinderTab = 1.0.5
mr.developer = 1.23

collective.ckeditor = 3.6.8

plone.recipe.distros = 1.5
collective.recipe.plonesite = 1.8.1
infrae.subversion = 1.4.5

#Required by:
#imio.pm.wsclient 1.0
z3c.form = 2.9.1
plone.app.z3cform = 0.7.2
plone.z3cform = 0.8.0
plone.batching = 1.0b1

#Required by:
#collective.ckeditor 3.6.8
demjson = 1.6
collective.plonefinder = 1.0.2
collective.quickupload = 1.5.7

#Required by:
#imio.pm.ws 1.0
ZSI = 2.0

#Required by:
#ZSI = 2.0
PyXML = 0.8.4

#Required by:
#imio.pm.ws 1.0
lxml = 2.3.4
python-magic = 0.4.3
BeautifulSoup = 3.2.1
z3c.soap = 0.5.4
archetypes.schemaextender = 2.1.2

#Required by:
#SOAPpy 0.12.5
wstools = 0.3

#Required by:
#SOAPpy 0.12.5
fpconst = 0.7.2

#Optional SOAP clients if activated in imio.pm.ws/setup.py
SOAPpy = 0.12.5
suds = 0.4

#Required by: 
#Products.PloneMeeting 
collective.documentviewer = 2.2.1

#Required by: 
#collective.documentviewer 2.2.1 
repoze.catalog = 0.8.2 

